.banner-container_header {
	font-weight: 700;
	size: 48px;
	padding-bottom: 30px;
	margin: 0 0 0 0;
	color: white;
	text-align: center;
}

.banner-container_details {
	font-weight: 400;
	size: 20px;
	align-items: center;
	color: #dcd4c8;
	max-width: 600px;
	text-align: center;
	flex-wrap: wrap;
	margin: 0 0 0 0;
	line-height: 24px;
}
